### Eclipse ###
.settings
.classpath
.project
target
bin
.mta
*.mtar
*.jar

### node ###
node_modules
package-lock.json
dist


### STS ###
.apt_generated
.classpath
.factorypath
.project
.springBeans
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.m2e.core.prefs
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### macOS ###
.DS_Store*
/bin/



### Linux ##
*~
/npm-debug.log

## Web IDE ##
.che
/.user.project.json